# Basic Data Types

## Introduction to Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool
- Binary Types:	bytes, bytearray, memoryview

## Strings

Strings are immutable sequence data type, i.e each time one makes any changes to a string, a completely new string object is created. If you want to work with any textual characters in your code, you have to work with strings. The string type is called str. Strings are the most common and useful data type in Python.

In [1]:
text1 = "I have learned strings" # surrounded with double quotes
print(text1)

I have learned strings

In [2]:
e_mail = 'joseph@gmail.com' # surrounded with single quotes
print(e_mail)

joseph@gmail.com

In [3]:
print('632') # this is also a string type

632

In [4]:
print("Brian\'s mother: He's not the Messiah. He\'s a very naughty boy!")

Brian's mother: He's not the Messiah. He's a very naughty boy!

In [5]:
34

34

Backslashes can also be used to escape tabs, arbitrary Unicode characters, and various other things that can't be reliably printed. These characters are known as escape characters.

Complete the code to create a string containing a double quote.

In [6]:
print("\'")

'

Newlines

Python provides an easy way to avoid manually writing "\n" to escape newlines in a string. Create a string with three sets of quotes, and newlines that are created by pressing Enter are automatically escaped for you.

In [7]:
"""Customer: Good morning.
Owner: Good morning, Sir. Welcome to the National Cheese Emporium."""

'Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium.'

## Numeric Types

 There are three distinct numeric types: signed integer numbers, floating point numbers and complex numbers.

In [8]:
type(22)

int

In [9]:
type(22.2)

float

In [10]:
type(3.14j)

complex

In [11]:
type('22.2')

str

## Boolean

Boolean types are called bool and their values are the two constant objects False and True. They are used to represent truth values (other values can also be considered false or true). In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

In [12]:
tv_open = True  # it seems TV is on now
type(tv_open)

bool

In [13]:
not tv_open

False

In [14]:
is_rainy = False  # I love sunny weather
is_rainy

False

In [15]:
tv_open & is_rainy

False

In [16]:
tv_open | is_rainy

True

In [17]:
tv_open and is_rainy

False

In [18]:
tv_open or is_rainy

True

In [19]:
tv_open & (not is_rainy)

True

In [20]:
tv_open//tv_open

1

In [21]:
is_rainy//tv_open

0

## Type Conversion

We can convert the types of data to each other if the type allows to be converted. There are some functions to convert the types:

- str() converts to string type
- int() converts to signed integer type
- float() converts to floating point type

In [22]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

In [23]:
example2 = '71'
print(type(example2))

<class 'str'>

In [24]:
example3 = 71
print(type(example3))

<class 'int'>

In [25]:
example4 = 71.0
print(type(example4))

<class 'float'>

In [26]:
example5 = 3.14j
print(type(example5))

<class 'complex'>

In [27]:
example6 = True
print(type(example6))

<class 'bool'>

In [28]:
f = 3.14  # the type is float

s = str(f)  # converting float to string
print(type(s))

<class 'str'>

In [29]:
f = 3.14  # the type is float

i = int(f)  # while converting a float value to an integer its decimal part is disregarded
print(i)
print()
print(type(i))

3

<class 'int'>

In [30]:
i = 3

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [31]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

## Variables

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [32]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [33]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Python allows you to assign values to multiple variables in one line:

In [34]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z+y+x)

Orange
Banana
CherryBananaOrange

And you can assign the same value to multiple variables in one line:

In [35]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

To combine both text and a variable, Python uses the + character:

In [36]:
x = "awesome"
print("Python is " , x)

Python is  awesome

You can also use the + character to add a variable to another variable:

In [37]:
x = "Python is "
y = "awesome"
z =  x , y
print(z)

('Python is ', 'awesome')

For numbers, the + character works as a mathematical operator:

In [38]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:

In [39]:
x = 5
y = "John"
print(str(x) + y)

5John

Create a variable outside of a function, and use it inside the function

In [40]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Create a variable inside a function, with the same name as the global variable

In [41]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

A few things you could use:

- dir() will give you the list of in scope variables:
- globals() will give you a dictionary of global variables
- locals() will give you a dictionary of local variables

In [42]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'text1 = "I have learned strings" # surrounded with double quotes\nprint(text1)',
  "e_mail = 'joseph@gmail.com' # surrounded with single quotes\nprint(e_mail)",
  "print('632') # this is also a string type",
  'print("Brian\\\'s mother: He\'s not the Messiah. He\\\'s a very naughty boy!")',
  '34',
  'print("\\\'")',
  '"""Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium."""',
  'type(22)',
  'type(22.2)',
  'type(3.14j)',
  "type('22.2')",
  'tv_open = True  # it seems TV is on now\ntype(tv_open)',
  'not tv_open',
  'is_rainy = False  # I love sunny weather\nis_rainy',
  'tv_open & is_rainy',
  'tv_open | is_rainy',
  'tv_open and is_rainy',
  'tv_open or is_rainy',
  'tv_open & (not is_rainy)',
  'tv_open//tv_open',
  'is_rainy//tv_open',
  "example1 = 'sometimes what you say is less important than how you say it'\nprint(type(example1))",
  "example2 = '71'\nprint(type(example2))",
  'example3 = 71\nprint(type(example3))',
  'example4 = 71.0\nprint(type(example4))',
  'example5 = 3.14j\nprint(type(example5))',
  'example6 = True\nprint(type(example6))',
  'f = 3.14  # the type is float\n\ns = str(f)  # converting float to string\nprint(type(s)) ',
  'f = 3.14  # the type is float\n\ni = int(f)  # while converting a float value to an integer its decimal part is disregarded\nprint(i)\nprint()\nprint(type(i))',
  "i = 3\n\nf = float(i)\nprint(f, '\\n')\nprint(type(f)) ",
  'x = 39\nv = "11"\ny = "2.5"\nz = "I am at_"\n\nprint(x-int(v))\nprint(x-float(y))\nprint(z+str(x))',
  'x = 5\ny = "John"\nprint(x)\nprint(y)',
  'x = 4 # x is of type int\nx = "Sally" # x is now of type str\nprint(x)',
  'x, y, z = "Orange", "Banana", "Cherry"\nprint(x)\nprint(y)\nprint(z+y+x)',
  'x = y = z = "Orange"\nprint(x)\nprint(y)\nprint(z)',
  'x = "awesome"\nprint("Python is " , x)',
  'x = "Python is "\ny = "awesome"\nz =  x , y\nprint(z)',
  'x = 5\ny = 10\nprint(x + y)',
  'x = 5\ny = "John"\nprint(str(x) + y)',
  'x = "awesome"\n\ndef myfunc():\n  print("Python is " + x)\n\nmyfunc()',
  'x = "awesome"\n\ndef myfunc():\n  x = "fantastic"\n  print("Python is " + x)\n\nmyfunc()\n\nprint("Python is " + x)',
  'globals()'],
 '_oh': {5: 34,
  7: 'Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium.',
  8: int,
  9: float,
  10: complex,
  11: str,
  12: bool,
  13: False,
  14: False,
  15: False,
  16: True,
  17: False,
  18: True,
  19: True,
  20: 1,
  21: 0},
 '_dh': ['C:\\Users\\salim\\python-basics'],
 'In': ['',
  'text1 = "I have learned strings" # surrounded with double quotes\nprint(text1)',
  "e_mail = 'joseph@gmail.com' # surrounded with single quotes\nprint(e_mail)",
  "print('632') # this is also a string type",
  'print("Brian\\\'s mother: He\'s not the Messiah. He\\\'s a very naughty boy!")',
  '34',
  'print("\\\'")',
  '"""Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium."""',
  'type(22)',
  'type(22.2)',
  'type(3.14j)',
  "type('22.2')",
  'tv_open = True  # it seems TV is on now\ntype(tv_open)',
  'not tv_open',
  'is_rainy = False  # I love sunny weather\nis_rainy',
  'tv_open & is_rainy',
  'tv_open | is_rainy',
  'tv_open and is_rainy',
  'tv_open or is_rainy',
  'tv_open & (not is_rainy)',
  'tv_open//tv_open',
  'is_rainy//tv_open',
  "example1 = 'sometimes what you say is less important than how you say it'\nprint(type(example1))",
  "example2 = '71'\nprint(type(example2))",
  'example3 = 71\nprint(type(example3))',
  'example4 = 71.0\nprint(type(example4))',
  'example5 = 3.14j\nprint(type(example5))',
  'example6 = True\nprint(type(example6))',
  'f = 3.14  # the type is float\n\ns = str(f)  # converting float to string\nprint(type(s)) ',
  'f = 3.14  # the type is float\n\ni = int(f)  # while converting a float value to an integer its decimal part is disregarded\nprint(i)\nprint()\nprint(type(i))',
  "i = 3\n\nf = float(i)\nprint(f, '\\n')\nprint(type(f)) ",
  'x = 39\nv = "11"\ny = "2.5"\nz = "I am at_"\n\nprint(x-int(v))\nprint(x-float(y))\nprint(z+str(x))',
  'x = 5\ny = "John"\nprint(x)\nprint(y)',
  'x = 4 # x is of type int\nx = "Sally" # x is now of type str\nprint(x)',
  'x, y, z = "Orange", "Banana", "Cherry"\nprint(x)\nprint(y)\nprint(z+y+x)',
  'x = y = z = "Orange"\nprint(x)\nprint(y)\nprint(z)',
  'x = "awesome"\nprint("Python is " , x)',
  'x = "Python is "\ny = "awesome"\nz =  x , y\nprint(z)',
  'x = 5\ny = 10\nprint(x + y)',
  'x = 5\ny = "John"\nprint(str(x) + y)',
  'x = "awesome"\n\ndef myfunc():\n  print("Python is " + x)\n\nmyfunc()',
  'x = "awesome"\n\ndef myfunc():\n  x = "fantastic"\n  print("Python is " + x)\n\nmyfunc()\n\nprint("Python is " + x)',
  'globals()'],
 'Out': {5: 34,
  7: 'Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium.',
  8: int,
  9: float,
  10: complex,
  11: str,
  12: bool,
  13: False,
  14: False,
  15: False,
  16: True,
  17: False,
  18: True,
  19: True,
  20: 1,
  21: 0},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001DC7AA4BC08>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc7cd7de08>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1dc7cd7de08>,
 '_': 0,
 '__': 1,
 '___': True,
 '_i': 'x = "awesome"\n\ndef myfunc():\n  x = "fantastic"\n  print("Python is " + x)\n\nmyfunc()\n\nprint("Python is " + x)',
 '_ii': 'x = "awesome"\n\ndef myfunc():\n  print("Python is " + x)\n\nmyfunc()',
 '_iii': 'x = 5\ny = "John"\nprint(str(x) + y)',
 '_i1': 'text1 = "I have learned strings" # surrounded with double quotes\nprint(text1)',
 'text1': 'I have learned strings',
 '_i2': "e_mail = 'joseph@gmail.com' # surrounded with single quotes\nprint(e_mail)",
 'e_mail': 'joseph@gmail.com',
 '_i3': "print('632') # this is also a string type",
 '_i4': 'print("Brian\\\'s mother: He\'s not the Messiah. He\\\'s a very naughty boy!")',
 '_i5': '34',
 '_5': 34,
 '_i6': 'print("\\\'")',
 '_i7': '"""Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium."""',
 '_7': 'Customer: Good morning.\nOwner: Good morning, Sir. Welcome to the National Cheese Emporium.',
 '_i8': 'type(22)',
 '_8': int,
 '_i9': 'type(22.2)',
 '_9': float,
 '_i10': 'type(3.14j)',
 '_10': complex,
 '_i11': "type('22.2')",
 '_11': str,
 '_i12': 'tv_open = True  # it seems TV is on now\ntype(tv_open)',
 'tv_open': True,
 '_12': bool,
 '_i13': 'not tv_open',
 '_13': False,
 '_i14': 'is_rainy = False  # I love sunny weather\nis_rainy',
 'is_rainy': False,
 '_14': False,
 '_i15': 'tv_open & is_rainy',
 '_15': False,
 '_i16': 'tv_open | is_rainy',
 '_16': True,
 '_i17': 'tv_open and is_rainy',
 '_17': False,
 '_i18': 'tv_open or is_rainy',
 '_18': True,
 '_i19': 'tv_open & (not is_rainy)',
 '_19': True,
 '_i20': 'tv_open//tv_open',
 '_20': 1,
 '_i21': 'is_rainy//tv_open',
 '_21': 0,
 '_i22': "example1 = 'sometimes what you say is less important than how you say it'\nprint(type(example1))",
 'example1': 'sometimes what you say is less important than how you say it',
 '_i23': "example2 = '71'\nprint(type(example2))",
 'example2': '71',
 '_i24': 'example3 = 71\nprint(type(example3))',
 'example3': 71,
 '_i25': 'example4 = 71.0\nprint(type(example4))',
 'example4': 71.0,
 '_i26': 'example5 = 3.14j\nprint(type(example5))',
 'example5': 3.14j,
 '_i27': 'example6 = True\nprint(type(example6))',
 'example6': True,
 '_i28': 'f = 3.14  # the type is float\n\ns = str(f)  # converting float to string\nprint(type(s)) ',
 'f': 3.0,
 's': '3.14',
 '_i29': 'f = 3.14  # the type is float\n\ni = int(f)  # while converting a float value to an integer its decimal part is disregarded\nprint(i)\nprint()\nprint(type(i))',
 'i': 3,
 '_i30': "i = 3\n\nf = float(i)\nprint(f, '\\n')\nprint(type(f)) ",
 '_i31': 'x = 39\nv = "11"\ny = "2.5"\nz = "I am at_"\n\nprint(x-int(v))\nprint(x-float(y))\nprint(z+str(x))',
 'x': 'awesome',
 'v': '11',
 'y': 'John',
 'z': ('Python is ', 'awesome'),
 '_i32': 'x = 5\ny = "John"\nprint(x)\nprint(y)',
 '_i33': 'x = 4 # x is of type int\nx = "Sally" # x is now of type str\nprint(x)',
 '_i34': 'x, y, z = "Orange", "Banana", "Cherry"\nprint(x)\nprint(y)\nprint(z+y+x)',
 '_i35': 'x = y = z = "Orange"\nprint(x)\nprint(y)\nprint(z)',
 '_i36': 'x = "awesome"\nprint("Python is " , x)',
 '_i37': 'x = "Python is "\ny = "awesome"\nz =  x , y\nprint(z)',
 '_i38': 'x = 5\ny = 10\nprint(x + y)',
 '_i39': 'x = 5\ny = "John"\nprint(str(x) + y)',
 '_i40': 'x = "awesome"\n\ndef myfunc():\n  print("Python is " + x)\n\nmyfunc()',
 'myfunc': <function __main__.myfunc()>,
 '_i41': 'x = "awesome"\n\ndef myfunc():\n  x = "fantastic"\n  print("Python is " + x)\n\nmyfunc()\n\nprint("Python is " + x)',
 '_i42': 'globals()'}

In [43]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_42',
 '_5',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'e_mail',
 'example1',
 'example2',
 'example3',
 'example4',
 'example5',
 'example6',
 'exit',
 'f',
 'get_ipython',
 'i',
 'is_rainy',
 'myfunc',
 'quit',
 's',
 'text1',
 'tv_open',
 'v',
 'x',
 'y',
 'z']

If you use the global keyword, the variable belongs to the global scope:

In [44]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Python Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

### Python Arithmetic Operators

In [45]:
x = 5
y = 3

print(x + y)

8

In [46]:
x = 5
y = 3

print(x - y)

2

In [47]:
x = 5
y = 3

print(x * y)

15

In [48]:
x = 12
y = 3

print(x / y)

4.0

In [49]:
x = 5
y = 2

print(x % y)

1

In [50]:
x = 29
y = 10

print(round(x / y))

3

In [51]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [52]:
x = 15
y = 2

print(x // y) #the floor division // rounds the result down to the nearest whole number

7

### Python Assignment Operators

In [53]:
x = 5

x += 3

print(x)

8

In [54]:
x = 5

x -= 3

print(x)

2

In [55]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [56]:
x = 5

x%=3

print(x)

2

In [57]:
x = 5

x//=3

print(x)

1

In [58]:
x = 5

x **= 3

print(x)

125

In [59]:
x = 5

x &= 3

print(x)

1

### Python Comparison Operators

In [60]:
x = 5
y = 3

print(x == y)

False

In [61]:
x = 5
y = 3

print(x != y)

True

In [62]:
x = 5
y = 3

print(x > y)

True

In [63]:
x = 5
y = 3

print(x < y)

False

In [64]:
type(x < y)

bool

In [65]:
x = 5
y = 3

print(x >= y)

True

In [66]:
x = 5

print(x > 3 and x < 10)

True

In [67]:
x = 5

print(x > 3 or x < 4)

True

In [68]:
x = 5

print(not(x > 3 and x < 10))

False

### Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [69]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [70]:
print(x is z)

# returns True because z is the same object as x

True

In [71]:
print(x is y)

# returns False because x is not the same object as y, even if they have the same content

False

In [72]:
print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True

In [73]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [74]:
print(x is not z)

# returns False because z is the same object as x

False

In [75]:
print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

True

In [76]:
print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False

### Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:

In [77]:
x = {"apple", "banana"}

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [78]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

## Operations with 'print( )' Function

In [79]:
number = 2020
text = "children deserve respect as much as adults in"
print(text, number)

children deserve respect as much as adults in 2020

In [80]:
print("yesterday I ate", 2, "apples")

yesterday I ate 2 apples

In [81]:
print('i','you', end=',')
print('will say', end=',')
print("'i missed you'", end=' ')
print('to my mother')

i you,will say,'i missed you' to my mother

In [82]:
print('smoking', 'is', 'slowly', 'killing me', sep=' ')

smoking is slowly killing me

In [83]:
x = 5
print ('value of x       :', x)

value of x       : 5

In [84]:
x += 2
print ("2 more of x      : ", x, "\n") # using string expression '\n',

2 more of x      :  7

In [85]:
                                       # we produce extra line. 
                                       # So that we had empty line.
y = 10
print ('value of y       : ', y)

y -= 2
print ("2 minus y        : ", y, "\n")

z = 6
print ('value of z       : ', z)

z *= 2
print ("2 times z        : ", z, "\n")

value of y       :  10
2 minus y        :  8

value of z       :  6
2 times z        :  12

In [86]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

Orange  and  Tomato

## Escape Sequences

Here are basic escape sequences in Python:

- \n : means new line,

- \t : means tab mark,

- \b : means backspace. It moves the cursor one character to the left.

In [87]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [88]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [89]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [90]:
print('we', 'are', 'united')

we are united

In [91]:
print('it\'s funny to learn Python')

it's funny to learn Python

# Boolean Operations

## Order of Priority

Here are the operators in order of their priorities:

1. not
2. and
3. or

In [92]:
logic = True and False or not False or False
print(logic)

True

## Truth Values of Logic Statements

The following values are considered False, in that they evaluate to False when applied to a boolean operator:

- None.
- Zero of any numeric type: 0, 0.0, 0j
- Empty sequences and collections: '', [], {}.
- Other than above values, any remaining value is evaluated as True.

In [93]:
print(1 and 4)

4

In [94]:
print(1 and 0)

0

In [95]:
print(1 and "I am doing good!")

I am doing good!

In [96]:
print([] and "Hello World!")

[]

In [97]:
print(True and 4)

4

In [98]:
print(1 or 4)

1

In [99]:
print(None or 1)

1

In [100]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [101]:
x = ""
y = None

print(bool(x))
print(bool(y))

False
False

# The Strength of String in Python

## Indexing String

In [102]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [103]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [104]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

## String Formatting with Arithmetic Syntax

There are several ways in Python that we use when processing and using string data structures. The most important of these are:

- Arithmetic syntax (+, *, and =),

- % operator formatting,

- string.format() method,

- f-string formatting.

In [105]:
print('some' + 'where')

somewhere

In [106]:
print(3*'no way!')

no way!no way!no way!

In [107]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [108]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [109]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

## String Formatting with '%' Operator

In [110]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

Tips:
- In the '%s' syntax : s stands for 'string'.
- In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
- In the '%d' syntax : d stands for 'numeric'.

In [111]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [112]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

## String Formatting with 'string.format()' Method

As in this example below, the value of expression comes from .format() method in order. Curly braces 👉🏻{} receives values from .format().

In [113]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [114]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [115]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [116]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

## String Formatting with 'f-string'

In [117]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [118]:
result = f"{4 * 5}"

print(result)

20

In [119]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [120]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [121]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.